<%@ Page Language="C#" MasterPageFile="~/MasterPages/ListView.master" AutoEventWireup="true" ValidateRequest="false" CodeFile="AG2030PO.aspx.cs" Inherits="Page_AG2030PO" Title="Untitled Page" %>

<%@ MasterType VirtualPath="~/MasterPages/ListView.master" %>

<asp:Content ID="cont1" ContentPlaceHolderID="phDS" runat="Server">
    <px:PXDataSource ID="ds" runat="server" Visible="True" ProvideRealData="True" TypeName="AG.Extensions.PO.AGContractMaint" PrimaryView="Contracts" SuspendUnloading="False">
    </px:PXDataSource>
</asp:Content>
<asp:Content ID="cont2" ContentPlaceHolderID="phL" runat="Server">
    <px:PXGrid ID="grid" runat="server" Height="400px" Width="100%" Style="z-index: 100"
        AllowPaging="True" AllowSearch="True" AdjustPageSize="Auto" DataSourceID="ds" SkinID="Primary" TabIndex="2100" TemporaryFilterCaption="Filter Applied">
        <EmptyMsg ComboAddMessage="No records found.
Try to change filter or modify parameters above to see records here."
            NamedComboMessage="No records found as &#39;{0}&#39;.
Try to change filter or modify parameters above to see records here."
            NamedComboAddMessage="No records found as &#39;{0}&#39;.
Try to change filter or modify parameters above to see records here."
            FilteredMessage="No records found.
Try to change filter to see records here."
            FilteredAddMessage="No records found.
Try to change filter to see records here."
            NamedFilteredMessage="No records found as &#39;{0}&#39;.
Try to change filter to see records here."
            NamedFilteredAddMessage="No records found as &#39;{0}&#39;.
Try to change filter to see records here."
            AnonFilteredMessage="No records found.
Try to change filter to see records here."
            AnonFilteredAddMessage="No records found.
Try to change filter to see records here."></EmptyMsg>
        <Levels>
            <px:PXGridLevel DataKeyNames="ContractID" DataMember="Contracts">
                <RowTemplate>
                    <px:PXTextEdit ID="edContractNbr" runat="server" AlreadyLocalized="False" DataField="ContractNbr" CommitChanges="True" DefaultLocale="">
                    </px:PXTextEdit>
                    <px:PXSegmentMask ID="edVendorID" runat="server" DataField="VendorID">
                    </px:PXSegmentMask>

                    <px:PXTextEdit ID="edVendorID_Vendor_acctName" runat="server" AlreadyLocalized="False" DataField="VendorID_Vendor_acctName" DefaultLocale="">
                    </px:PXTextEdit>
        
                    <px:PXTextEdit ID="edDescription" runat="server" AlreadyLocalized="False" DataField="Description" DefaultLocale="">
                    </px:PXTextEdit>
        
                </RowTemplate>
                <Columns>
                    <px:PXGridColumn DataField="ContractNbr" Width="200px" CommitChanges="true">
                    </px:PXGridColumn>
                    <px:PXGridColumn DataField="VendorID" Width="120px">
                    </px:PXGridColumn>
                    <px:PXGridColumn DataField="VendorID_Vendor_acctName" Width="200px">
                    </px:PXGridColumn>
    
                    <px:PXGridColumn DataField="Description" Width="200px">
                    </px:PXGridColumn>
    
                </Columns>
            </px:PXGridLevel>
        </Levels>
        <AutoSize Container="Window" Enabled="True" MinHeight="200" />
    </px:PXGrid>
</asp:Content>
